/* fonts */


/* roboto-regular - cyrillic */

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v32-cyrillic-regular.eot');
    src: url('../fonts/roboto-v32-cyrillic-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-v32-cyrillic-regular.woff2') format('woff2'), url('../fonts/roboto-v32-cyrillic-regular.woff') format('woff'), url('../fonts/roboto-v32-cyrillic-regular.ttf') format('truetype'), url('../fonts/roboto-v32-cyrillic-regular.svg#Roboto') format('svg');
}


/* roboto-700 - cyrillic */

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v32-cyrillic-700.eot');
    src: url('../fonts/roboto-v32-cyrillic-700.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-v32-cyrillic-700.woff2') format('woff2'), url('../fonts/roboto-v32-cyrillic-700.woff') format('woff'), url('../fonts/roboto-v32-cyrillic-700.ttf') format('truetype'), url('../fonts/roboto-v32-cyrillic-700.svg#Roboto') format('svg');
}


/* root */

 :root {
    --conteiner-1: #011C44;
    --conteiner-2: #2B7FFF;
    --conteiner-3: #FFFFFF;
    --conteiner-4: #4A4A4A;
    --conteiner-5: #747272;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: Roboto;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.container {
    width: 100%;
    max-width: 1392px;
    padding: 0 24px;
    margin: 0 auto;
}


/* header */

.header {
    background: #FFFFFF40;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header-container {
    width: 100%;
    max-width: 1440px;
    height: 106px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.header-nav {
    width: 100%;
    max-width: 1240px;
    height: 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.header-ul1 {
    display: flex;
    width: 100%;
    max-width: 525px;
    height: 21px;
    justify-content: space-between;
}

.header-ul2 {
    display: flex;
    width: 160px;
    height: 32px;
    justify-content: space-between;
}

.link1 {
    color: var(--conteiner-1);
    text-decoration: none;
    font-size: 18px;
}

.link1:hover {
    color: var(--conteiner-2);
    font-weight: 700;
}


/* main */


/*section 1 */

.main-section1 {
    padding: 123px 0px 127px 140px;
    overflow: hidden;
    background-image: url('../images/fon_section1.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

.container-main-section1 {
    max-width: 529px;
    max-height: 408px;
    width: 100%;
    height: 100%;
    margin: 0px 700px 0px 214px;
}

.main-section-p1 {
    color: var(--conteiner-1);
    font-size: 18px;
    line-height: 1.2;
    width: 199px;
    height: 21px;
    margin: 0;
}

.name-section1 {
    color: var(--conteiner-2);
    font-family: Play;
    font-size: 140px;
    font-weight: 700;
    line-height: 0.8;
    display: flex;
    flex-direction: column-reverse;
    width: 529px;
    height: 228px;
    margin: 0;
    padding-top: 16px;
}

.button {
    color: var(--conteiner-3);
    background-color: var(--conteiner-2);
    border-radius: 32px;
    border-color: var(--conteiner-2);
    font-family: Roboto;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    width: 219px;
    height: 53px;
    margin: 40px 310px 14px 0px;
}

.button:hover {
    border: 2px solid var(--conteiner-2);
    background-color: transparent;
    color: var(--conteiner-1);
}

.main-section-p2 {
    width: 238px;
    color: var(--conteiner-4);
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
}


/* section2 */

.main-section2 {
    margin: 127px auto 0px auto;
}

.main-section2-a {
    display: flex;
}

.main-section2-div1 {
    margin: 40px 32px 199px 0px;
    width: 100%;
    max-width: 709px;
    height: 456px;
}

.main-section2-div2 {
    display: flex;
    flex-wrap: wrap;
}

.main-section2-div2 ul {
    display: flex;
}

.main-section2-a h2 {
    color: var(--conteiner-1);
    font-family: Play;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.15;
    width: 529px;
    height: 148px;
    margin: 0px 0px 40px 0px;
}

.main-section2-a h2>span {
    color: var(--conteiner-2);
}

.main-section2-a p {
    color: var(--conteiner-1);
    font-size: 22px;
    line-height: 1.7;
    width: 709px;
}

.main-section2-p1 {
    width: 709px;
    height: 76px;
    margin: 0px 0px 40px 0px;
}

.main-section2-p2 {
    width: 709px;
}

.main-section2-a span {
    font-weight: 600;
}

.main-section2-div2 img {
    border-radius: 50%;
}

.main-section2-div2 ul {
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.main-section-div2 {
    width: 499px;
    height: 695px;
}

.main-section2-img1 {
    width: 327px;
    height: 327px;
    margin: 0px 0px 40px 0px;
}

.main-section2-img2 {
    width: 327px;
    height: 327px;
    margin: 0px 0px 0px 172px;
}


/*FON SECTION 3&4 */

.section3_4-fon {
    background-image: url(../images/background-why.png);
    background-repeat: no-repeat;
    background-size: cover;
}


/* section3 */

.main-section3 {
    padding: 176px 190px 0px 190px;
    align-content: center;
    justify-items: center;
}

.main-section3 h2 {
    margin: 0px auto 48px auto;
    padding: 0px;
}

.main-section3 ul {
    margin: 0px;
    padding: 0px;
    height: 181px;
}

.main-section3 ul>li {
    width: 316px;
    height: 181px;
    background-color: #FFFFFF;
    border-radius: 32px;
    box-shadow: 0px, 4px, 4px, 0px, #A8C6F5 0.38%;
}

.main-section3-li2 {
    margin: 0px 56px;
}

.main-section3 ul>li>div {
    margin: 24px 32px;
}

.main-section3 ul>li>div>img {
    margin: 5px 102px 8px 102px;
}

.main-section3-p {
    color: var(--conteiner-1);
    font-size: 18px;
    line-height: 1.3;
    width: 252px;
    margin: 0px;
}

.main-section3 h2 {
    font-family: Play;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.15;
    width: 432px;
    text-align: center;
}

.section3-h2 {
    color: var(--conteiner-2);
}

.main-section3 ul {
    display: flex;
    justify-content: space-around;
}


/* section4 */

.main-section4 {
    color: var(--conteiner-1);
}

.main-section4 h2 {
    font-family: Play;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.15;
    width: 100%;
    max-width: 510px;
    text-align: center;
    margin: 96px auto 48px auto;
}

.section4-h2 {
    color: var(--conteiner-2);
}

.container-section4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1216px;
}

.article {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: var(--conteiner-3);
    font-size: 22px;
    line-height: 26px;
    border-radius: 4px 120px 4px 120px;
    background-image: linear-gradient(180.05deg, rgba(1, 28, 68, 0) 48.53%, rgba(1, 28, 68, 0.725825) 84.61%, #011C44 101.39%);
}

.section4-menu {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.section4-img {
    position: relative;
    z-index: -1;
    border-radius: 4px 120px 4px 120px;
}

.section4-img-p {
    position: absolute;
    width: 152px;
    height: 52px;
    margin-top: 0px;
    border-bottom-width: 0px;
    font-size: 22px;
    margin: auto 77px 32px 115px;
    text-align: center;
}

.section4-img2 {
    background-image: url(../images/Face_injections.svg);
    border-radius: 4px 120px 4px 120px;
}

.section4-li-p {
    display: flex;
    margin: 0;
    bottom: inherit;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 32px;
    padding-left: 115px;
    padding-right: 77px;
    height: 456px;
    padding-top: 372px;
    width: 344px;
    background-image: url(../images/Fon.svg), url(../images/Face_injections.svg);
    border-radius: 4px 120px 4px 120px;
}

.arrow_button {
    fill: #011C44;
    background: #FFFFFF;
    border: 0.77px solid #011C44;
    backdrop-filter: blur(15.364535331726074px);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.symbol_button {
    color: var(--conteiner-1);
    border: 0.77px;
    border-color: var(--conteiner-1);
    border-radius: 180%;
    background-color: var(--conteiner-3);
    width: 44px;
    height: 44px;
}

.symbol_button:hover {
    color: var(--conteiner-3);
    border-color: var(--conteiner-2);
    background-color: var(--conteiner-2);
}


/* section5 */

.main-section5 {
    color: var(--conteiner-1);
}

.main-section5 h2 {
    font-family: Play;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.15;
    width: 432px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.section5-h2 {
    color: var(--conteiner-2);
}

.section5-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1059px;
    width: 100%;
    max-height: 602px;
    height: 100%;
    gap: 48px;
    margin: 96px auto;
}

.section5-iframe {
    display: flex;
    gap: 32px;
    max-width: 1059px;
    width: 100%;
    max-height: 480px;
    height: 100%;
}

iframe {
    max-width: 605px;
    width: 100%;
}

.section5-registred {
    max-width: 423px;
    width: 100%;
    border-radius: 32px;
    background-color: var(--conteiner-1);
}

.section5-registred-divmain {
    display: flex;
    flex-direction: column;
    width: 310px;
    margin: 48px 56px;
    height: 385px;
}

.section5-registred-name {
    color: var(--conteiner-3);
    font-size: 22px;
    font-weight: 600;
}

.section5-registred-name span {
    color: var(--conteiner-2);
}


/* footer */

footer {
    font-family: Roboto;
    font-weight: 400;
    display: flex;
}

.footer {
    border: 2px solid var(--conteiner-1);
    background-color: var(--conteiner-1);
    font-size: 16px;
    background-image: url('../images/footer-foto-fon1.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.container-footer {
    display: flex;
    justify-content: space-around;
    gap: 186px;
    margin: 56px auto;
}

.container-footer-nav {
    display: flex;
    gap: 186px;
}

.footer-nav-menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-contacts-maindiv {
    display: flex;
    gap: 186px;
}

.footer-contacts-div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contacts-ul1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contacts-ul2 {
    display: flex;
    gap: 24px;
}

.contacts-ul3 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.link2 {
    color: var(--conteiner-3);
    font-size: 16px;
}

.link2:hover {
    color: var(--conteiner-2);
}

.politic {
    color: var(--conteiner-3);
}

.footer>p {
    color: var(--conteiner-5);
}